body{
    margin: 0 !important;
    padding: 0 !important;

}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content{
  flex: 1;

}
html {
  scroll-behavior: smooth;
}

.navbar-brand{
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
  padding: 0 2px;

}
.navbar{
  padding: 1px;
}
.nav-item{

  padding: 5px;
}


.icons{
  color: white;
  padding: 2px;
}

.heading{
  font-size: 3.5rem !important;


}

.para-services{
  text-align: justify;
}

.img-services{
  border-radius: 50%
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231b1c25' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    font-size: 130% !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231b1c25' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}



#services h2{
  font-family: 'Playfair Display', serif;
}


@media (min-width:767px){
.btn-contact {


}

.heading-carousel{
  font-family: "Montserrat";

    width: 60%;
    margin: 50px auto;
    font-size: 3.5rem;
    font-weight: bold;

}

.see-more{
  background-color: #621000;
}


.press-image {
  margin: 10px 10px 50px;
  width: 15%;
  padding: 25px;
}


#press {
  text-align: center; 
}
